header {
    color: white;
    background-color: black;
    height: 200px;
}
h1 {
    margin: 15px;
}
button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px;
    margin-top: 4px;
    margin-left: 5px;
}
#settings-form {
    background-color: white;
    min-height: 200px;
    padding: 20px;
}

.number {
    width: 40px;
}

fieldset {
    margin: 20px 10px 20px;
    display: flex;
    align-items: center;
    max-width: 500px;
    background-color: rgb(240, 240, 240)
}

label, input {
    margin: 10px;
    margin-left: 5px;
    margin-top: 2px;
}
h3 {
    margin: 10px;
    margin-left: 5px;
}

body {
    background-color: black;
}